
$transition-duration-default :   0.4s !default;
$transition-duration-fast    :   0.2s !default;
$transition-duration-slow    :   0.6s !default;

$transition-delay-default    :   0s !default;
$transition-delay-fast       :   0.1s !default;
$transition-delay-slow       :   0.4s !default;

// create transition properties
$transitionsProperties: (
  none          : none,
  all           : all,
  color         : (
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
  ),
  opacity       : opacity,
  shadow        : box-shadow,
  transform     : transform,
  scale         : scale,
  rotate        : rotate,
);



$transitionDuration: (
  default       : $transition-duration-default,
  fast          : $transition-duration-fast,
  slow          : $transition-duration-slow,
) !default;



$transitionTimingFunctions: (
  ease          : ease,
  ease-in       : ease-in,
  ease-out      : ease-out,
  ease-in-out   : ease-in-out,
  linear        : linear,
  step-start    : step-start,
  step-end      : step-end,
);


$transitionDelays: (
  default       : $transition-delay-default,
  fast          : $transition-delay-fast,
  slow          : $transition-delay-slow,
) !default;


